body {
    font-size: 3vw; 
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to right, #0052cc, #00d4ff);
    color: white;
    padding: 1vh 1vw; 
    border-radius: 1vh;
    margin-bottom: 1vh;
}

main {
    padding: 2vh 2vw; 
}

footer {
    border-top: 2px solid blue;
    text-align: center;    
    background-color: #f1f1f1;
    padding-top: 1vw; 
    margin-top: 1vw; 
    font-size: 4vw; 
}
